<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.apollotv.kamino"
    android:installLocation="auto">

    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:label"
        android:name="io.flutter.app.FlutterApplication"
        android:label="ApolloTV"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:usesCleartextTraffic="true">

        <provider
            android:name="xyz.apollotv.kamino.OTAFileProvider"
            android:authorities="xyz.apollotv.kamino.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="xyz.apollotv.kamino.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|smallestScreenSize|orientation"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />

                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="apollotv"
                    android:host="kamino" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".share.ClipboardShareActivity" />


        <!--
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="xyz.apollotv.cplayer.cast.CastOptionsProvider" />
            -->
    </application>
</manifest>